<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.YdSellerFlowAccountMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.YdSellerFlowAccount">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="is_take_out" jdbcType="INTEGER" property="isTakeOut" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="type_show" jdbcType="VARCHAR" property="typeShow" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="order_num" jdbcType="BIGINT" property="orderNum" />
    <result column="payment_method" jdbcType="INTEGER" property="paymentMethod" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="other1" jdbcType="VARCHAR" property="other1" />
    <result column="other2" jdbcType="VARCHAR" property="other2" />
  </resultMap>
  <insert id="insert" parameterType="com.ruoyi.system.domain.YdSellerFlowAccount">
    insert into yd_seller_flow_account (seller_id, user_id,is_take_out,`type`, type_show, money,integral, order_num, payment_method)
    values (#{sellerId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},#{isTakeOut,jdbcType=INTEGER},#{type,jdbcType=INTEGER}, #{typeShow,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL},
      #{integral,jdbcType=INTEGER}, #{orderNum,jdbcType=BIGINT}, #{paymentMethod,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, seller_id, user_id,is_take_out, `type`, type_show, money, integral, order_num, payment_method,
    create_time, update_time, `status`, other1, other2
    from yd_seller_flow_account
  </select>
</mapper>