<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('订单列表')" />
	<style type="text/css">
		.thisBody{
			padding-top: 0px;
		}
	</style>
</head>
<body class="gray-bg">
<div class="container-div">
	<div class="row">
		<div class="panel-body thisBody">
			<div class="tab-content">
				<div id="tab-0" class="tab-pane active">
					<div class="col-sm-12 search-collapse">
						<form id="ordinary-form-0">
							<div class="select-list">
								<ul>
									<li>
										用户名：<input type="text" name="userName"/>
										<input type="hidden" id="shopId" name="shopId" th:value="${shopId}" />
										<input type="hidden" th:value="${type}" id="type" name="type"/>
									</li>
									<li>
										<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('ordinary-form-0')"><i class="fa fa-search"></i>&nbsp;搜索</a>
										<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('ordinary-form-0')"><i class="fa fa-refresh"></i>&nbsp;重置</a>
									</li>
								</ul>
							</div>
						</form>
					</div>
					<div class="col-sm-12 select-table table-striped">
						<table id="bootstrap-table-0" data-mobile-responsive="true"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
	var shopId=$("#shopId").val();
	var type=$("#type").val();
	var prefix = ctx + "yd/backstage/shopping/orders";
	var payWayData = [[${@dict.getType('yd_pay_way_type')}]];
	var orderStatusData = [[${@dict.getType('yd_order_status')}]];
	//全部订单
	$(function() {
		var options0 = {
			id: "bootstrap-table-0",
			url: prefix + "/list",
			showFooter: true,
			showSearch: false,
			showRefresh: false,
			showToggle: false,
			showColumns: false,
			queryParams :queryParams0,
			columns: [
				{
					title : '编号',
					formatter: function(value, row, index) {
						return index+1;
					}
				},
				{
					field : 'orderFormNum',
					title : '订单号'
				},
				{
					field : 'userName',
					title : '用户名称'
				},
				{
					field : 'createTime',
					title : '提交时间'
				},
				{
					field : 'amountPayable',
					title : '应付款金额'
				},
				{
					field: 'payWay',
					title: '支付方式',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(payWayData, value);
					}
				},
				{
					field: 'orderStatus',
					title: '订单状态',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(orderStatusData, value);
					}
				},
				{
					field : 'remark',
					title : '备注'
				},
				{
					title: '操作',
					align: 'center',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-info btn-xs" href="#" onclick="lookOrders('+row.id+')"><i class="fa fa-search"></i> 查看订单</a> ');
						if(row.orderStatus == 1){
							actions.push('<a class="btn btn-danger btn-xs" href="#" onclick="closeOrders('+row.id+')"><i class="fa fa-remove"></i> 关闭订单</a> ');
						}
						if(row.orderStatus == 2){
							actions.push('<a class="btn btn-primary btn-xs" href="#" onclick="orderDelivery('+row.id+')"><i class="fa fa-check"></i> 订单发货</a> ');
						}
						if(row.orderStatus == 3 || row.orderStatus == 4 || row.orderStatus == 6){
							actions.push('<a class="btn btn-success btn-xs" href="#" onclick="orderTracking('+row.id+')"><i class="fa fa-truck"></i> 订单跟踪</a> ');
						}
						if(row.orderStatus == 4){
							actions.push('<a class="btn btn-danger btn-xs" href="#" onclick="refusalRefund('+row.id+')"><i class="fa fa-hand-paper-o"></i> 拒绝退款</a> ');
							actions.push('<a class="btn btn-warning btn-xs" href="#" onclick="refund('+row.id+')"><i class="fa fa-check-square-o"></i> 确认退款</a> ');
						}
						if(row.orderStatus == 5){
							actions.push('<a class="btn btn-danger btn-xs" href="#" onclick="removeOrders('+row.id+')"><i class="fa fa-trash-o"></i > 删除订单</a> ');
						}
						return actions.join('');
					}
				}]
		};
		$.table.init(options0);
	});

	//借用实体将店铺id传到后台，系统店铺默认id=1
	function queryParams0(params) {
		//这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
		var model = $.table.queryParams(params);
		model.shopId = shopId;
		model.type = type;
		return model;
	}

	/**
	 * 查看订单
	 * @param id
	 */
	function lookOrders(id) {
		$.modal.open('查看订单', prefix + "/ordersInfo?orderId="+id+"&shopId="+shopId, '900', '500', lookOrdersCallback);
	}

	function lookOrdersCallback(index, layero){
		var iframe = $(layero).find("iframe").contents();
		var remark = iframe.find("input[name=\"remark\"]").val();
		var amountPayable = iframe.find("input[name=\"amountPayable\"]").val();
		var orderId = iframe.find("input[name=\"orderId\"]").val();
		if(remark!=null && remark.length>50){
			$.modal.alertWarning('备注不允许超过50个字！')
		}else{
			$.ajax({
				type: "POST",
				url:  prefix + "/updateRemarkAndMoney",
				data: "orderId="+orderId+"&remark="+remark+"&amountPayable="+amountPayable,
				dataType: "json",
				success: function(data){
					var status = data.status;
					if(status == 1 || status == "1"){
						layer.close(index);
						$.modal.msgSuccess("修改成功！");
						$.table.refresh();
					}
				}
			});
		}
	}

	/**
	 * 订单发货
	 * @param id
	 */
	function orderDelivery(id) {
		$.modal.open('订单发货', prefix + "/ordersDelivery?orderId="+id+"&shopId="+shopId, '900', '500', orderDeliveryCallback);
	}

	function orderDeliveryCallback(index, layero) {
		var iframe = $(layero).find("iframe").contents();
		var deliveryType = iframe.find("select[name=\"deliveryType\"]").val();
		var deliveryTypeShow = iframe.find("select[name=\"deliveryType\" ] option:selected").text();
		var freightBillNo = iframe.find("input[name=\"freightBillNo\"]").val();
		var orderId = iframe.find("input[name=\"orderId\"]").val();
		if(deliveryType == 0){
			$.modal.alertWarning('请选择配送方式！');
		}else if(freightBillNo == null || freightBillNo == undefined || freightBillNo == "null" || freightBillNo == "undefined" || trim(freightBillNo) == ""){
			$.modal.alertWarning('物流单号不能为空！');
		}else{
			$.ajax({
				type: "POST",
				url:  prefix + "/updateOrderDelivery",
				data: "orderId="+orderId+"&deliveryType="+deliveryType+"&deliveryTypeShow="+deliveryTypeShow+"&freightBillNo="+freightBillNo,
				dataType: "json",
				success: function(data){
					var status = data.status;
					if(status == 1 || status == "1"){
						layer.close(index);
						$.modal.msgSuccess("修改成功！");
						$.table.refresh();
					}
				}
			});
		}
	}

	/**
	 * 订单跟踪
	 * @param id
	 */
	function orderTracking(id) {
		$.modal.open('订单发货', prefix + "/logisticsTracking?orderId="+id, '900', '500', orderTrackingCallback);
	}

	function orderTrackingCallback(index, layero) {
		layer.close(index);
	}
	/**
	 * 关闭订单
	 * @param id
	 */
	function closeOrders(id) {
		$.modal.confirm("确定要关闭订单吗？",function () {
			$.ajax({
				type: "POST",
				url:  prefix + "/closeOrders",
				data: "id="+id,
				dataType: "json",
				success: function(data){
					var status = data.status;
					if(status == 1 || status == "1"){
						$.modal.msgSuccess("关闭成功！");
						$.table.refresh();
					}else{
						$.modal.msgError("关闭失败");
					}
				}
			});
		});
	}

	/**
	 *
	 * 删除订单
	 * @param id
	 */
	function removeOrders(id) {
		$.modal.confirm("确定要删除订单吗？",function () {
			$.ajax({
				type: "POST",
				url:  prefix + "/removeOrders",
				data: "id="+id,
				dataType: "json",
				success: function(data){
					var status = data.status;
					if(status == 1 || status == "1"){
						$.modal.msgSuccess("删除成功！");
						$.table.refresh();
					}else{
						$.modal.msgError("删除失败");
					}
				}
			});
		});
	}

	function refund(id) {
		$.modal.confirm("确定要退款吗？",function () {
			$.ajax({
				type: "POST",
				url:  prefix + "/refund",
				data: "id="+id,
				dataType: "json",
				success: function(data){
					var status = data.status;
					if(status == 1 || status == "1"){
						$.modal.msgSuccess("退款成功！");
						$.table.refresh();
					}else{
						$.modal.msgError("退款失败");
					}
				}
			});
		});
	}
	function refusalRefund(id) {
		$.modal.confirm("确定要拒绝退款吗？",function () {
			$.ajax({
				type: "POST",
				url:  prefix + "/refusalRefund",
				data: "id="+id,
				dataType: "json",
				success: function(data){
					var status = data.status;
					if(status == 1 || status == "1"){
						$.modal.msgSuccess("拒绝成功！");
						$.table.refresh();
					}else{
						$.modal.msgError("拒绝失败");
					}
				}
			});
		});
	}


</script>
</body>
</html>